{% include("administrador/cabecera_admin.html") %}

<head>
    <title>Registro tutor</title>
</head>
<style>
    .caja {
        margin: auto;
        max-width: 1200px;
    }
    .titulo {
            font-size: 25px;
            font-weight: bold;
        }     

    @media only screen and (max-width: 600px) {
        .caja {
            max-width: 90%;
        }
    }
</style>
<br>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar nuevo tutor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="crear-registro-tutor" method="post">
                    <div class="mb-3">
                        <label for="txtNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="txtNombre" placeholder="Ingresa el nombre"
                            name="txtNombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="txtApellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txtApellidos" placeholder="Ingresa los apellidos"
                            name="txtApellidos" required>
                    </div>
                    <div class="mb-3">
                        <label for="txtCorreo" class="form-label">Correo electronico</label>
                        <input type="email" class="form-control" id="txtCorreo" placeholder="Ingresa el correo"
                            name="txtCorreo" required>
                    </div>
                    <div class="mb-3">
                        <label for="txtPassword" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="txtPassword" placeholder="Ingresa la contraseña"
                            name="txtPassword" required>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="caja">
    <p class="text-center titulo">Registro de tutores</p>
    {% if mensaje1 %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ mensaje1 }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-bs-whatever="@mdo">Agregar</button>
    </form>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Contraseña</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for tutor in tutores %}
            <tr>
                <td>{{ tutor['nombre'] }}</td>
                <td>{{ tutor['apellidos'] }}</td>
                <td>{{ tutor['correo'] }}</td>
                <td>{{ tutor['password'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>